{% extends "relationship_app/base.html" %}

{% block title %}Books List{% endblock %}

{% block content %}
    <h2>Books Available</h2>
        <ul>
                {% for book in books %}
                            <li>{{ book.title }} by {{ book.author.name }}</li>
                                    {% empty %}
                                                <li>No books available.</li>
                                                        {% endfor %}
                                                            </ul>
                                                            {% endblock %}
                                                            